@using OurMusic.Models
@model List<OurMusic.Models.Room>
@{
    ViewBag.Title = "Home";
    Person p = ViewBag.LoggedInPerson;
}
<div class="row">
<div class="col-lg-4">
    @if(Model.Count >= 1)
    { 
    <ul class="list-group">
        @foreach (var x in Model)
        {
            <li class="list-group-item">
                <span class="badge">@x.People.Count</span>
                @x.name&nbsp;&nbsp;
                @if(!x.People.Contains(p))
                {
                    <span>@Html.ActionLink("Join", "Join", "Room", new { personid = p.userID, id = x.roomid }, new { })</span>
                }
                else {
                    <span>@Html.ActionLink("View", "Details", "Room", new { id = x.roomid }, new { })</span>
                }
            </li>            
        }

    </ul>
    }
    else
    {
        <small>There are no rooms here! Would you like to @Html.ActionLink("create a room","Create","Room")?</small>
    }
</div>
<div class="col-lg-8">
<div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Hey there!</strong> It looks like you are new. To get started, @Html.ActionLink("create a room", "Create", "Room"), or join one of the rooms over on the sidebar!
</div>
</div>
</div>
